{% extends "base.html" %}

{% block content %}
    <h1>Авторизация</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.picture.label }}<br>
            {{ form.picture(class="form-control", type="file") }}<br>
            {% for error in form.picture.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}