{% extends "base.html" %}

{% block content %}
<h1>Список уроков</h1>
<div class="row">
  {% for item in lessons %}
    {% if loop.first %}
      <div class="col-sm-6 mb-3 mb-sm-0">
    {% else %}
      <div class="col-sm-6">
    {% endif %}
        <div class="card w-50">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a href="/lesson/{{item.id}}" class="btn btn-primary">Перейти</a>
          </div>
          <img src="/static/images/{{item.picture}}.png" class="card-img-bottom" alt="...">
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}