{% extends "base.html" %}

{% block content %}
<div>
  <form class="form d-flex" action="" method="post">
        {{ form.hidden_tag() }}
       <div class="row">
           <div class="col">
                {{ form.search_bar.label }}
           </div>
           <div class="col">
                {{ form.search_bar(class="form-control", type="string", value=search_word) }}
                {% for error in form.search_bar.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
           </div>
           <div class="col">
                {{ form.language_filter.label }}
           </div>
           <div class="col">
                {{ form.language_filter}}
                {% for error in form.language_filter.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
           </div>
           <div class="col">
                {{ form.submit(type="submit", class="btn btn-primary") }}
                <div>{{ message }}</div>
           </div>
        </div>
    </form>
</div>
<h1>Список уроков</h1>
<div class="row">
  {% for item in lessons %}
    {% if loop.first %}
      <div class="col-sm-6 mb-3 mb-sm-0">
    {% else %}
      <div class="col-sm-6">
    {% endif %}
        <div id = {{item.picture}} class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a href="/lesson/{{item.id}}" class="btn btn-primary">Перейти</a>
          </div>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}