{% extends "base.html" %}

{% block content %}

<script language="JavaScript">
  function turn(card_id)
  {
    if (document.getElementById(card_id).getElementsByTagName("img")[0].src == "http://127.0.0.1:8080/static/images/cards/1.png")
    {
      document.getElementById(card_id).getElementsByTagName("img")[0].src = "/static/images/cards/2.png";
    }
    else if (document.getElementById(card_id).getElementsByTagName("img")[0].src == "http://127.0.0.1:8080/static/images/cards/2.png")
    {
      document.getElementById(card_id).getElementsByTagName("img")[0].src = "/static/images/cards/3.png";
    }
    else if (document.getElementById(card_id).getElementsByTagName("img")[0].src == "http://127.0.0.1:8080/static/images/cards/3.png")
    {
      document.getElementById(card_id).getElementsByTagName("img")[0].src = "/static/images/cards/1.png";
    }
  }
</script>
<div class="row">
  {% for item in cards %}
    {% if loop.first %}
      <div class="col-sm-6 mb-3 mb-sm-0">
    {% else %}
      <div class="col-sm-6">
    {% endif %}
        <div class="card text-bg-dark w-50" id="{{loop.index0}}" onclick="turn({{loop.index0}});">
          <img src="/static/images/cards/1.png" class="card-img" alt="...">
          <div class="card-img-overlay d-flex align-item-center justify-context-center">
            <h5 class="card-title">{{item.word}}</h5>
          </div>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}