{% extends "base.html" %}

{% block content %}
    <h1>Профиль</h1>
    {% if picture != None %}
    <img src="data:;base64, {{picture}}">
    {% else %}
    <img src="/static/images/default.jpg">
    {% endif %}
    <div class="alert alert-primary w-50" role="alert">Имя пользователя: {{user.name}}</div>
    <div class="alert alert-primary w-50" role="alert">Email: {{user.email}}</div>
    <div class="alert alert-primary w-50" role="alert">О пользователе: {{user.about}}</div>
    <a class="btn btn-danger" href="/logout">Выйти</a>
{% endblock %}